body {
   
}

.cb_from {
    padding: 10px;
    border: 2px solid red;
    border-radius: 20px;
}

.cb_to {
    padding: 10px;
    border: 2px solid red;
    border-radius: 20px;
}

.button {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    padding: 10px;
    border: 2px solid red;
    border-radius: 20px;
    outline: none;
}

.button:hover {
        background-color: rgb(216, 1, 0); /* red */
        color: white;
        padding: 10px;
        outline: none;
}

.textbox_1 {
    width: 200px;
    display: inline-block;
    border: 2px solid red;
    border-radius: 20px;
    padding: 10px;
    outline: none;
}

.textbox_2 {
    width: 200px;
    display: inline-block;
    border: 2px solid red;
    border-radius: 20px;
    right: 0;
    padding: 10px;
    margin-left: 0px;
    outline: none;
}

.table {
    border: 2px solid red;
    border-radius: 20px;
    outline: none;
}

html {
    background-color: rgb(220, 224, 232);
}